@import '../../../styles/settings.scss';

.component {
  padding: $base-size;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: Roboto;  
  text-align: center;;
}

.link {
  margin: $base-size;
}