@import '../../../styles/settings.scss';

.component {
  padding: $base-size;
}

.title {
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
}

.edit {
  margin-top: 20px;
}
