@import '../../../styles/settings.scss';

.component {
  padding: $base-size;
  margin-top: 20px;
  font-family: Roboto;  
  text-align: center;;
}

.title {
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
}

.button {
  padding: $base-size;
  display: flex;
  justify-content: center;
}